# Study of Co2 from 1700 to 2020 by country

In [2]:
#######################################################################

# Imports librairies

In [3]:
import pandas as pd

# import data from csv

In [5]:
data = pd.read_csv("co2_emission_by_countries.csv", encoding="latin")

# reading data as dataframe

In [7]:
df = pd.DataFrame(data)

In [8]:
df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

# Remove usless columns as "Calling code" and "Code"

In [9]:
df1 = df.drop(columns=['Calling Code','Code'])

In [10]:
df1

,Country,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,1754,0.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...
59615,Zimbabwe,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

# Rename columns of select easier

In [11]:
df1 = df1.rename(columns={'CO2 emission (Tons)': 'coTons', 'Population(2022)' : 'population'})

In [12]:
df1

,Country,Year,coTons,population,Area,% of World,Density(km2)
0,Afghanistan,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,1754,0.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...
59615,Zimbabwe,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

# Sorting the different columns to find correlations or anomalies

In [13]:
df1 = df1.sort_values('population', ascending = False)

In [14]:
df1

,Country,Year,coTons,population,Area,% of World,Density(km2)
10839,China,2020,2.360000e+11,1.425887e+09,9706961.0,6.30%,147/km²
10754,China,1935,8.434728e+08,1.425887e+09,9706961.0,6.30%,147/km²
10740,China,1921,3.175662e+08,1.425887e+09,9706961.0,6.30%,147/km²
10741,China,1922,3.441998e+08,1.425887e+09,9706961.0,6.30%,147/km²
10742,China,1923,3.763514e+08,1.425887e+09,9706961.0,6.30%,147/km²
...,...,...,...,...,...,...,...
58802,Wallis and Futuna,2016,4.030400e+05,NaN,NaN,NaN,NaN
58803,Wallis and Futuna,2017,4.286880e+05,NaN,NaN,NaN,NaN
58804,Wallis and Futuna,2018,4.543360e+05,NaN,NaN,NaN,NaN
58805,Wallis and Futuna,2019,4.807730e+05,NaN,NaN,NaN,NaN
58806,Wallis and Futuna,2020,5.072470e+05,NaN,NaN,NaN,NaN

# as we can see, we have a lot of NaN value let's see in 2020 how many Country contain NaN information in this data set